<div class="container">
    <a href="/" class="btn btn-link">Quay lai</a>
    <h1 class="text-success">Update user</h1>

    <form action="/users/update?_method=PUT" method="post" enctype="application/json">
            <input type="hidden" name="id" value="{{id}}">
            
            <div class="form-group">
                <label for="">Name: </label>
                <input type="text" name="name" id="name" placeholder="{{name}}" class="form-control">
                <span class="text-danger name_wrong-format"></span>
            </div>

            <div class="form-group">
                <label for="">Age: </label>
                <input type="text" name="age" id="age" placeholder="{{age}}" class="form-control">
                <span class="text-danger age_wrong-format"></span>
            </div>

            <div class="form-group">
                <label for="">Email: </label>
                <input type="text" name="email" id="email" placeholder="{{email}}" class="form-control">
                <span class="text-danger email_wrong-format"></span>
            </div>

            <div class="form-group">
                <label for="">Gender: </label>
                <select class="form-select form-control" name="gender" id="gender">
                    <option selected disabled>
                        {{#if gender}} 
                            {{gender}} 
                        {{else}} 
                            Choose your gender 
                        {{/if}}
                    </option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>

            <button class="btn btn-success" type="submit">Update user</button>
    </form>

</div>
